<header>
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse font-header">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href={{ '/'|url }}>{{config.THEME_SETTINGS.headerusername}}Главная{{config.THEME_SETTINGS.headerhostname}}</a>
    </div>

       <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
		  <li>
          <a href={{ '/search'|url }}>Найти{{config.THEME_SETTINGS.headerusername}}</a>
        </li>

        {% for page in site.query('/') %}
        {% if page.path != '/404' and page.path != '/search' %}
        <li >
          <a href="{{page.url_path | url }}">{{ page.title }}</a>
        </li>
        {% endif %}
        {% endfor %}

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>
